<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.fourleaf.phonegap.plugin.installApkPlugin"
    version="1.0.0">

    <name>FourLeaf Android Apk Installer Plugin</name>
    
    <description>This plugin allows you easily install Apk in Android</description>
    
    <author>Mahou - gundamwing.wei@gmail.com</author>
    
    <keywords>install, installer, apk, Android, FLT, FourLeaf, FourLeafTec</keywords>
	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>

    <license>Apache License V2</license>

    <js-module src="www/installApk.js" name="installApk" target="installApk.js">
        <clobbers target="window.installApk" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
    
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="InstallApkPlugin" >
				<param name="android-package" value="com.fourleaf.phonegap.plugin.installapk.InstallApkPlugin"/>
			</feature>
	    </config-file>
	    
	    <source-file src="android/com/fourleaf/phonegap/plugin/installapk/InstallApkPlugin.java" 
	            target-dir="src/com/fourleaf/phonegap/plugin/installapk"/>
    </platform>
</plugin>